<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h5>Legal Docs</h5>
        <ul class="footer-ul">
          <li><strong><a href="">Terms Of Use</a> </strong></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Disclaimer</a></li>
          <li><a href="">Chat Rules</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5>Contact</h5>
        <ul class="footer-ul">
          <li><strong><span class="icons-ul"><i class="fas fa-envelope"></i></span>&nbsp;&nbsp; Email : </strong><a href="">contact@tokenmom.com</a> </li>
          <li><strong><a href=""><span class="icons-ul"><i class="fas fa-life-ring"></i></span>&nbsp;&nbsp;Support Center</a></strong> </li>
          <li><strong><a href="https://docs.google.com/forms/d/e/1FAIpQLSefBihzI5YD4kbFQMwAbsDrpGmtW_GFa_RUbY86L5FvqT_VHw/viewform"><span class="icons-ul"><i class="fas fa-clipboard-list"></i></span>&nbsp;&nbsp;List your Token</a></strong></li>
          <li><strong><a href="">Change Language</a></strong>
            <div>
              <div id="google_translate_element"></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="logo-footer mb-3">
          <img src="assets/logo.png" alt="" style="width: 100px">
        </div>
        <p>All Rights Reserved | Copyright &copy; 2018 by IMDEX</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5>Follow Us</h5>
        <div class="social-div">
          <a href="https://twitter.com/Token_Mom" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="" class="social-icon"><i class="fab fa-reddit"></i></a>
          <a href="https://t.me/tokenmom" class="social-icon"><i class="fab fa-telegram"></i></a>
          <a href="https://open.kakao.com/o/gW7ydlJ" class="social-icon talk" ><img src="assets/kakao.jpg" alt="" style="width:30px"></a>
        </div>
      </div>
    </div>
  </div>
</footer>