  .p {
    text-align: center;
    padding-top: 140px;
    font-size: 14px;
  }

  .header {
    overflow: hidden;
    padding: 13px 25px;
    top: 0;
    align-items: center;
    right: 0;
    left: 235px;
    position: fixed;
    background: #fff;
    -webkit-box-shadow: 2px 2px 10px #eee;
    box-shadow: 2px 2px 10px #eee;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .title-head {
    grid-column: 1;
    grid-row: 1;
  }

  .addBtn-div {
    grid-column: 2;
    grid-row: 1;
  }

  .header a.logo {
    font-size: 16px;
    font-weight: bold;
    color: rgb(18, 126, 214);
  }

  .btn-add {
    float: right;
    border-radius: 25px;
    font-size: 14px
  }

  .btn-add i {
    font-size: 12px;
  }

  .table {
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #eee;
  }

  .table thead th {
    border-bottom: none;
  }

  .table td,
  .table th {
    border-top: none;
    color: #555;
    font-size: 14px;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.03);
  }

  .btn-actions {
    border-radius: 25px;
    box-shadow: 2px 2px 10px #ccc;
    padding: 4px 13px;
    color: #fff;
  }

  @media screen and (max-width: 992px) {
    .header {
      left: 60px;
    }
  }

  @media screen and (max-width: 767px) {
    table caption {
      border-bottom: 1px solid #ddd;
    }
  }

  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
      position: relative;
      margin-top: -48px;
    }
    .object-tools li {
      display: block;
      float: left;
      margin-left: 5px;
      height: 16px;
    }
    .object-tools a.addlink {
      background-image: url();
    }
    #changelist {
      position: relative;
      width: 100%;
    }
    #changelist-filter {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1000;
      width: 240px;
      background: #f8f8f8;
      border-left: none;
      margin: 0;
    }
    #changelist-filter h2 {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      padding: 5px 15px;
      margin-bottom: 12px;
      border-bottom: none;
    }
    #changelist-filter h3 {
      font-weight: 400;
      font-size: 14px;
      padding: 0 15px;
      margin-bottom: 10px;
    }
    #changelist-filter ul {
      margin: 5px 0;
      padding: 0 15px 15px;
      border-bottom: 1px solid #eaeaea;
    }
    #changelist-filter li.selected {
      border-left: 5px solid #eaeaea;
      padding-left: 10px;
      margin-left: -15px;
    }
    .change-list .filtered {
      min-height: 400px;
    }
    #changelist-filter li.selected a {
      color: #5b80b2;
    }
    .module {
      border: none;
      margin-bottom: 30px;
      background: #fff;
    }
    #changelist #toolbar {
      padding: 8px 10px;
      margin-bottom: 15px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      background: #f8f8f8;
      color: #666;
    }
    form {
      margin: 0;
      padding: 0;
    }
    label {
      cursor: default;
    }
    #changelist #toolbar form #searchbar {
      height: 19px;
      border: 1px solid #ccc;
      padding: 2px 5px;
      margin: 0;
      vertical-align: top;
      font-size: 13px;
    }
    .alert-message {
      display: none;
    }
    .color {
      color: #f2f4f7;
    }
    #changelist #toolbar form input[type="submit"] {
      border: 1px solid #ccc;
      padding: 2px 10px;
      margin: 0;
      vertical-align: middle;
      background: #fff;
      box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
      cursor: pointer;
      color: #333;
    }
  }

  #loader {
    font-size: 40px;
    text-align: center;
    color: #049ddc;
  }