.main-div{
    /* height: 70vh; */
}
.table{
     background: #fff;
     border-radius: 10px;
}
.table thead th{
    font-size: 14px;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}
.table td {
    border-top: none;
}
.margin-left{
    margin-left: 3vw;
}

#loader{
    font-size: 40px;
    text-align: center;
    color: #049ddc;

}


.disable{ 
    color: #ababab !important;
}